<div>
  <h2>Demo for deep copy of JS Objects with lodash's cloneDeep method</h2>
</div>
<div>
  <span>This is the content of the original array</span>
</div>
<div *ngFor="let item of originalList">Name: {{item.name}} Type:{{item.pet.type}}</div>
<button (click)="cloneArray()">Clone Array</button>
<div>
  <span *ngIf="clonedList.length > 0">This is the content of the clonned array</span>
</div>
<div *ngFor="let item of clonedList">Name: {{item.name}} Type:{{item.pet.type}}</div>
<button (click)="changeNestedObject()" *ngIf="clonedList.length > 0">Change Nested Type</button>
